// main colors
$color-Red: hsl(0, 78%, 62%);
$color-Cyan: hsl(180, 62%, 55%);
$color-Orange: hsl(34, 97%, 64%);
$color-Blue: hsl(212, 86%, 64%);

// regular colors
$color-black: #000;
$color-wight: #fff;
$color-gray: hsl(229, 6%, 66%);
$color-light-gray: hsl(0, 0%, 98%);
$color-dark: #333;
$color-dark-blue: hsl(234, 12%, 34%);
$color-light: #f4f4f4;
